<!DOCTYPE html>
<html lang="en">
  <head>
    {{>partials/head}}
    <title>Homepage</title>
  </head>
  <body>
    {{>partials/nav}}

    <div class="container mt-3">
      <div class="row row-cols-4">
        {{#each blogs}}
        <div class="col">
          <div class="card col" style="width: 18rem">
            <img src="{{this.coverImageURL}}" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <a href="/blog/{{this._id}}" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>

    {{>partials/scripts}}
  </body>
</html>
